*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login {
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid black;
}

.button {
    font-size: 20px;
    background-color: #161616;
    color: #ffffff;
    padding: 3px 30px;
    border-radius: 10px;
}

.nav {
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid black;
    padding: 5px;
}

.nav-item {
    text-decoration: none;
    color: #161616;
}

.main-photo {
    padding: 5px;
}

.photo1 {

}

.photo-image1 {
    width: 60%;
    height: 350px;
    padding: 5px;
}

.photo-image2 {
    max-width: 40%;
    padding: 5px;
    float: right;
}

.photo2 {
    
}

.photo-image3 {
    width: 30%;
    height: 200px;
    padding: 5px;
}

.photo-image4 {
    width: 30%;
    height: 200px;
    float: right;
    padding: 5px;
}

.photo3 {

}

.photo-image5 {
    width: 30%;
    padding: 5px;
}

.photo-image6 {
    width: 60%;
    height: 350px;
    padding: 5px;
}